.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dateRange {
  text-decoration: underline;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: row;
}

.summary-container {
  background-color: #2f343d;
  padding: .8rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.2rem;
}

h4 {
  text-decoration: underline;
}

.summary-container label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.summary-container p {
  font-weight: 900;
  margin-top: 0;
  color: rgb(111, 111, 255);
}

.input-section {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pagelink-list {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  text-decoration: underline;
  color: rgb(170, 170, 170);
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

.pagelink-list h5 {
  cursor: pointer;
}

h3 {
  margin-left: 1.1rem;
}

.App-link {
  color: #61dafb;
}

.overall-chart, .fatigue-chart, .forward-chart, .pedestrian-chart {
  display: flex;
}

.summary-fleet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.fleet {
  display: flex;
}

.fleet label, .fleet p {
  font-size: 1.1rem;
  padding: .3rem;
}

